<script>
	jQuery(document).ready(function(){
		jQuery(".result").colorbox({rel:'result'});
	});

</script>

<% unless @flickr_urls.blank?  %>

  <div id='' style='text-align:center;width:940px;'>
      Page: <%= @current_page %> of <%= @number_of_pages %>
  </div>

  <div id='paginator' style='text-align:center;width:940px;'>
    <%= link_to('last', do_search_path(search_conditions: params[:search_conditions], page: @current_page - 1), remote: true, method: :post, onclick: "show_wait_message();" ) unless @current_page == 1 %>

    <% @pages_to_link_to.each do |p| %>
      <%= p == @current_page ? p : link_to(p, do_search_path(search_conditions: params[:search_conditions], page: p), remote: true, method: :post, onclick: "show_wait_message();") %>
    <% end %>

    <%= link_to('next', do_search_path(search_conditions: params[:search_conditions], page: @current_page + 1), remote: true, method: :post, onclick: "show_wait_message();") unless @current_page == @number_of_pages %>
  </div>

<% end %>

<div style='text-align:center;width:940px;'>
  <% @flickr_urls.each do |url| %>
    <div style="display:inline-block;">
      <a class='result' href="<%= url %>">
        <img src='<%= url %>' alt='' style='height:100px;'/>
      </a>
    </div>
  <% end %>
</div>